﻿/* Styles go here */

/*******************************************
These are a custom style for bootstrap buttons
********************************************/

.btn-custom-primary {
  background-color: hsl(194, 100%, 18%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bbf4", endColorstr="#00465b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00bbf4), to(#00465b));
  background-image: -moz-linear-gradient(top, #00bbf4, #00465b);
  background-image: -ms-linear-gradient(top, #00bbf4, #00465b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bbf4), color-stop(100%, #00465b));
  background-image: -webkit-linear-gradient(top, #00bbf4, #00465b);
  background-image: -o-linear-gradient(top, #00bbf4, #00465b);
  background-image: linear-gradient(#00bbf4, #00465b);
  border-color: #00465b #00465b hsl(194, 100%, 10.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  -webkit-font-smoothing: antialiased;
}

.btn-custom-success {
  background-color: hsl(128, 100%, 18%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f420", endColorstr="#005b0c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00f420), to(#005b0c));
  background-image: -moz-linear-gradient(top, #00f420, #005b0c);
  background-image: -ms-linear-gradient(top, #00f420, #005b0c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00f420), color-stop(100%, #005b0c));
  background-image: -webkit-linear-gradient(top, #00f420, #005b0c);
  background-image: -o-linear-gradient(top, #00f420, #005b0c);
  background-image: linear-gradient(#00f420, #005b0c);
  border-color: #005b0c #005b0c hsl(128, 100%, 10.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  -webkit-font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}