﻿<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2 class="text-center">Create A New Case</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <br />
            <br />
            <form class="form-horizontal" name="addCase" role="form" novalidate>

                <!-- DEFENDANT NAME -->
                <div class="form-group" ng-class="{ 'has-error' : addCase.caseFile.defendant.$invalid && !addCase.defName.$pristine }">
                    <label for="addDefendantName" class="col-xs-4 control-label">Defendant Name:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="addDefendantName" ng-model="caseFile.defendant" placeholder="Defendants Name" required />
                    </div>
                </div>

                <!-- PROSECUTION -->
                <div class="form-group" ng-class="{ 'has-error' : addCase.caseFile.prosecution.$invalid && !addCase.prosecution.$pristine }">
                    <label for="addProsecution" class="col-xs-4 control-label">Prosecution's Name:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="addProsecution" ng-model="caseFile.prosecution" placeholder="Name of Prosecution" required />
                    </div>
                </div>

                <!-- defAddress -->
                <div class="form-group" ng-class="{ 'has-error' : addCase.caseFile.defAddress.$invalid && !addCase.court.$pristine }">
                    <label for="addCourt" class="col-xs-4 control-label">Defendant Address:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="addCourt" ng-model="caseFile.defAddress" placeholder="Defendant Address" required />
                    </div>
                </div>
                <br />

                <!-- defCity -->
                <div class="form-group" ng-class="{ 'has-error' : addCase.caseFile.defCity.$invalid && !addCase.court.$pristine }">
                    <label for="addCourt" class="col-xs-4 control-label">Defendant City:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="addCourt" ng-model="caseFile.defCity" placeholder="Defendant City" required />
                    </div>
                </div>
                <br />

                <!-- defState -->
                <div class="form-group" ng-class="{ 'has-error' : addCase.caseFile.defState.$invalid && !addCase.court.$pristine }">
                    <label for="addCourt" class="col-xs-4 control-label">Defendant State:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="addCourt" ng-model="caseFile.defState" placeholder="Defendant State" required />
                    </div>
                </div>
                <br />

                <!-- defZip -->
                <div class="form-group" ng-class="{ 'has-error' : addCase.caseFile.defZip.$invalid && !addCase.court.$pristine }">
                    <label for="addCourt" class="col-xs-4 control-label">Defendant Zip:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="addCourt" ng-model="caseFile.defZip" placeholder="Defendant Zip" required />
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <label for="addCaseSummary" class="col-xs-4 control-label">
                        Case Summary:
                    </label>
                    <div class="col-xs-8">
                        <textarea class="form-control" name="addCaseSummary" ng-model="caseFile.caseSummary" id="addCaseSummary"></textarea>
                    </div>
                </div>
            </form>
            <br />
            <br />
        </div>
    </div>
    <div class="row" style="padding-bottom: 100px">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
                <div class="col-xs-4">
                    <a href="index.html"><button class="btn btn-custom-primary btn-info" id="addCaseCancelBtn">Cancel</button></a>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <button class="btn btn-custom-primary btn-info" id="addCaseSaveBtn" ng-click="save()" ng-disabled="addCase.$invalid">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>