﻿
    <h1 class="text-center">Case Load Manager</h1>
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <a href="#/addCase" style="color: inherit">
                <div class="btn btn-sm btn-primary btn-custom-primary pull-right">
                    <div class="addCase">
                        <div class="hidden-xs">Add Case </div>
                        <div class="glyphicon glyphicon-plus-sign"></div>
                    </div>
                </div>
            </a>
        </div>
        <br>
        <br>
        <br>
        <div class="tableContainer col-xs-10 col-xs-offset-1">
            <table class="table table-hover" id="casesTable">
                <thead>
                    <tr>
                        <th>Case #</th>
                        <th>Defendant</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="caseFile in cases">
                        <td>{{caseFile.Id}}</td>
                        <td><a href="#" ng-click="showPopup(caseFile)">{{caseFile.defendant}}</a></td>
                        <td><a href="#/Case/Edit/{{caseFile.Id}}">Edit</a> | <a href="#" ng-click="deleteCase({{caseFile.Id}})">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   