<div class="container">
            <div class="row">
                <div class="col-md-6  col-sm-12 col-xs-12"><div class="col-xs-6">Picture </div><div class="col-xs-6">Name: <br/>Age: <br>Race: <br></div></div>
                <div class="col-md-6  col-sm-12 col-xs-12">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center">Ability</th>
                            <th class="text-center">Value</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Desc.</h2>
                    <div class=""> A little something here</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Battles</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Exp</th>
                            <th class="text-center">Win/Loss</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>